# Introduction to Pandas
Pandas is a popular open-source data manipulation and analysis library for Python. It provides easy-to-use data structures, such as data frames, along with a wide range of functions to work with structured data.
- Simple to use
- Integrated with many other data science and machine learning python tools
- Helps you get your data ready for machine learning

In [1]:
import pandas as pd

In [6]:
# 2 Main datatypes: Series and Dataframes
series = pd.Series(["BMW", "Toyota", "Honda"])

In [3]:
series

0       BMW
1    Toyota
2     Honda
dtype: object

In [8]:
# series = 1-dimensional (Takes in a list as input)

In [5]:
colours = pd.Series(["Red", "Blue", "White"])
colours

0      Red
1     Blue
2    White
dtype: object

In [9]:
# DataFrame = 2-dimensional (Takes in a dictionary as input)
car_data = pd.DataFrame({"Car make": series, "Colour": colours})
car_data

  Car make Colour
0      BMW    Red
1   Toyota   Blue
2    Honda  White

In [10]:
# Import data
car_sales = pd.read_csv("car-sales.csv")
car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

<div style="text-align: center;"><img src="./pandas-anatomy-of-a-dataframe.png" width=700></div>

In [16]:
# Exporting the data
car_sales.to_csv("exported_car_sales.csv", index = False) # can also use car_sales.to_excel()
# index = False does not display the indices as a column

In [17]:
exported_car_sales = pd.read_csv("exported_car_sales.csv")
exported_car_sales

     Make Colour  Odometer (KM)  Doors       Price
0  Toyota  White         150043      4   $4,000.00
1   Honda    Red          87899      4   $5,000.00
2  Toyota   Blue          32549      3   $7,000.00
3     BMW  Black          11179      5  $22,000.00
4  Nissan  White         213095      4   $3,500.00
5  Toyota  Green          99213      4   $4,500.00
6   Honda   Blue          45698      4   $7,500.00
7   Honda   Blue          54738      4   $7,000.00
8  Toyota  White          60000      4   $6,250.00
9  Nissan  White          31600      4   $9,700.00

> __NOTE:__ You can also use an absolute link from an online CSV file. If you are exporting from GitHub, make sure the file is in raw format.