# Central Tendency for Housing Data
In this project, you will find the mean, median, and mode cost of one-bedroom apartments in three of the five New York City boroughs: Brooklyn, Manhattan, and Queens.

Using your findings, you will make conclusions about the cost of living in each of the boroughs. We will also discuss an important assumption that we make when we point out differences between the boroughs.

We worked with Streeteasy.com to collect this data. While we will only focus on the cost of one-bedroom apartments, the dataset includes a lot more information if youâ€™re interested in asking your own questions about the Brooklyn, Manhattan, and Queens housing market.

In [6]:
# Import packages
import numpy as np
import pandas as pd
from scipy import stats

# Read in housing data
brooklyn_one_bed = pd.read_csv('assets/brooklyn-one-bed.csv')
brooklyn_price = brooklyn_one_bed['rent']

manhattan_one_bed = pd.read_csv('assets/manhattan-one-bed.csv')
manhattan_price = manhattan_one_bed['rent']

queens_one_bed = pd.read_csv('assets/queens-one-bed.csv')
queens_price = queens_one_bed['rent']

1. Use print statements to see them in the output terminal.

In [7]:
brooklyn_price.head()

0    3600
1    3900
2    2700
3    4900
4    3900
Name: rent, dtype: int64

In [8]:
manhattan_price.head()

3     4500
4     4795
15    4650
16    2950
19    4875
Name: rent, dtype: int64

In [9]:
queens_price.head()

6     1950
8     3500
21    1725
25    1700
59    3100
Name: rent, dtype: int64

2. Find the average value of one-bedroom apartments in Brooklyn and save the value to brooklyn_mean. Find the average value of one-bedroom apartments in Manhattan and save the value to manhattan_mean. Find the average value of one-bedroom apartments in Queens and save the value to queens_mean.

In [10]:
brooklyn_mean = np.mean(brooklyn_price)
queens_mean = np.mean(queens_price)
manhattan_mean = np.mean(manhattan_price)
brooklyn_mean, queens_mean, manhattan_mean

(3327.4037512339587, 2346.2543103448274, 3993.4769647696476)

3. Find the median value of one-bedroom apartments in Brooklyn and save the value to brooklyn_median. Find the median value of one-bedroom apartments in Manhattan and save the value to manhattan_median. Find the median value of one-bedroom apartments in Queens and save the value to queens_median.

In [11]:
brooklyn_median = np.median(brooklyn_price)
queens_median = np.median(queens_price)
manhattan_median = np.median(manhattan_price)
brooklyn_median, queens_median, manhattan_median

(3000.0, 2200.0, 3800.0)

4. Find the mode value of one-bedroom apartments in Brooklyn and save the value to brooklyn_mode. Find the mode value of one-bedroom apartments in Manhattan and save the value to manhattan_mode. Find the mode value of one-bedroom apartments in Queens and save the value to queens_mode.

In [12]:
from scipy import stats

In [13]:
brooklyn_mode = stats.mode(brooklyn_price)
queens_mode = stats.mode(queens_price)
manhattan_mode = stats.mode(manhattan_price)
brooklyn_mode, queens_mode, manhattan_mode

(ModeResult(mode=2500, count=26),
 ModeResult(mode=1750, count=11),
 ModeResult(mode=3500, count=56))